* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 255, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 160px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.036), 0 4px 8px 0 rgba(0, 0, 0, 0.036);
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box div {
    width: 110px;
    height: 110px;
    background-color: #25470c;
    transition: 1s;
}

.box:nth-child(11), :nth-child(13) {
      margin-left: 470px;
}

.box:nth-child(12), .box:nth-child(14) {
    margin-right: 470px;
}

.one:hover {
    transform: rotate(45deg);
}

.two:hover {
    transform: scaleY(0.5);
}

.three:hover {
    transform: scaleX(0.5);
}

.four:hover {
    transform: scale(2);
}

.five:hover {
    transform: scaleX(1.8);
}

.six:hover {
    transform: scaleY(1.8);
}

.seven:hover{
    transform: skewX(32deg);
}

.eight:hover {
    transform: skewY(32deg);
}

.nine:hover {
    transform: translate(40px,20px);
}

.ten:hover {
    transform: translate(40px);
}

.eleven:hover {
    transform: translateY(20px);
}

.twelve:hover {
    transform: skewY(50deg) scale(1.5) translate(40px,-40px);
}

.thirteen:hover {
    transform: perspective(150px) rotatex(50deg);
}

.fourteen:hover {
    transform: perspective(150px) rotateY(50deg);
}

.fifteen:hover {
    transform-origin: right;
    transform: rotate(45deg);
}